# Resend API (이메일 발송용)
# https://resend.com/api-keys
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxx

# Google Custom Search API (구글 검색용 - 선택사항)
# https://developers.google.com/custom-search/v1/introduction
GOOGLE_API_KEY=your_google_api_key_here
GOOGLE_SEARCH_ENGINE_ID=your_search_engine_id_here

# Naver Search API (네이버 검색용 - 선택사항)
# https://developers.naver.com/products/search/
NAVER_CLIENT_ID=your_naver_client_id_here
NAVER_CLIENT_SECRET=your_naver_client_secret_here

